.login-form{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1.5fr;
    justify-items:start;
    align-items: center;
}

#login-button{
    grid-row: 3 / 4;
    grid-column: 1 / 3;
}