html,
body {
    margin: 0;
    padding: 0;
    background-color: #fefefe;
    
    font-family: 'Nunito', sans-serif;
}

@media(max-width:1000px){
    body{
        font-size:0.8em;
    }
}

@media(max-width: 760px){
    
}

.generator{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.generator-field {
    margin-left:0.5em;
    margin-top:0.5em; 
    width:15em;
}

.words-area{
    background-color: #363635;
    font-family: 'Nunito', sans-serif;
    width:100%;
    resize:none;
    outline: none;
    color:#fefefe;
}

.generate-button{
    height:2.2em;
    font-size:1.3em;
    margin:0 auto;
    background-color: #363635;
    border:0.1em solid #81E979;
    color:#81E979;
    transition: all 0.2s ease-in;
}

.crossword-holder{
    width:35em;
    height:35em;
    background-color: #363635;
    display:grid;
    grid-template-columns: repeat(20,5%);
    grid-template-rows: repeat(20,5%);
    margin:0.5em auto;
    padding:0.5em;
}

.grid-cell{
    background-color: #fefefe;
    border:0.1em solid #363635;
}

p{
    margin:0.2em;
}

.cell-taken{
    background-color: #dbdbdb;
    border:0.1em solid #363635;
}

.text-unit{
    color:black;
    font-size:1.1em;
    text-align:center;
}

.add-questions{
    width:90%;
    margin-top:1em;
    padding:1em 0.5em;
    background-color: #363635;
}

#add-question-text{
    font-size:1.2em;
    color:#81E979;
    margin:4em 0.5em;
    user-select: none;
}

#add-words-rb-holder{
    display:inline-block;
}

.add-questions-label{
    font-size:1.2em;
    color:#727277;
    user-select:none;
    margin:0.2em 0.1em;
    transition: 0.1s all ease-in;
}

.add-question-label:hover{
    color:#dbdbdb;
}

.add-words-rb{
    display:none;
    position:absolute;
}

.add-words-rb:checked + .add-questions-label{
    color: #81E979;
}

#create-questions{
    margin-top:1em;
    display:none;
    width:100%;
}

#yes:checked ~ #create-questions{
    display:block;
}

.question-entity{
    margin:0px 0.4em 0.5em;
    display:flex;
    flex-direction: column;
    justify-items: stretch;
}

.question-field{
    outline: none;
    background-color: #363635;
    border:0.3em solid #dbdbdb;
    color:#dbdbdb;
    resize: none;
    margin:0px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: 'Nunito', sans-serif;
}

.entity-head{
    border-left:0.3em solid #dbdbdb;
    border-right: 0.3em solid #dbdbdb;
    border-top: 0.3em solid #dbdbdb;
    align-self: start;
    display:inline;
}

.question-field::-webkit-scrollbar{
    display:none;
}

.question-number{
    color:#81E979;
    margin:0.2em 0.2em 0.2em 0.3em;
    font-size:1.2em;
    font-weight: bold;
}

.word-for-question{
    margin:0.2em;
    font-size:1.1em;
    color:#81E979;
}

.down-holder{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    height:6em;
}

#name-label{
    color:#dbdbdb;
    font-size:0.9em;
}

#crossword-name-text{
    outline: none;
    width:20em;
    margin-bottom: 0.8em;
    color:#363635;
}

.questions-button{
    border:0.1em solid #81E979;
    transition: all 0.2s ease-in;
    background-color: #363635;
    color:#81E979;
    font-size:1.05em;
    height:2em;
    width:6.3em;
    margin: 0.4em 1em
}

.highlighted-button:hover{
    box-shadow: 0em 0em 0.15em 0.2em rgba(129, 233, 121, 0.5);
}

.sign-form{
    display:grid;
    width:30em;
    justify-content: center;
    align-items: end;
    top:-100%;
    left: calc(50vw - 15em);
    position:fixed;
    background-color:#363635;
    color:#dbdbdb;
    transition:all 0.2s ease-in;
    padding:1em;
    backdrop-filter: blur(10px);
    border:0.2em solid #dbdbdb
}

.signin-form{
    grid-template-columns: 30% 70%;
    grid-template-rows: 0.5fr 2fr 1.5fr 1.5fr;
    height:10em;
}

.signup-form{
    grid-template-columns: 30% 70%;
    grid-template-rows: 0.5fr 2fr 1.5fr 1.5fr 1fr;
    height:15em;
}

.account-info-field{
    margin:0.5em 2em 0.5em 0.2em;
    font-family: 'Nunito', sans-serif;
    outline: none;
}

.sing-title{
    grid-row:1 / 2;
    grid-column: 1 / 3;
    margin:0.2em auto;
    color:#dbdbdb;
    font-size:1.3em;
    font-weight: bold;
}

#signin-email{
    grid-column: 2 / 3;
    grid-row:2 / 3;
}

.account-label{
    font-size:1em;
    text-align: end;
    margin-bottom:0.4em;
    margin-left:0.3em;
    line-height:100%;
}

#signin-email-label{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#signin-psw{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#psw-label{
    grid-column: 1 / 2;
    grid-row:3 / 4;
}

.sign-button{
    border:0.1em solid #81E979;
    font-size: 1.05em;
    color:#dbdbdb;
    height:1.8em;
    padding:0.2em 0.5em;
    background-color: #363635;
    margin:0.5em auto;
    transition: all 0.2s ease-in;
}

#signin-button{
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}

.green-cross{
    filter: invert(77%) sepia(96%) saturate(274%) hue-rotate(54deg) brightness(95%) contrast(92%);
}

.close-form{
    position:absolute;
    top:5px;
    right:10px;
    border: none;
    background-color: #363635;
}

.close-form > img{
    transition:0.1s all ease-in;
}

.close-form:hover > img{
    transform: rotate(20deg);
}

.add-questions-label:hover{
    color: #dbdbdb;
}

#signup-email{
    grid-column: 2 / 3;
    grid-row:2 / 3;
}

#signup-email-label{
    grid-column:1 / 2;
    grid-row:2 / 3;
}

#signup-psw1{
    grid-column:2 / 3;
    grid-row:3 / 4;
}

#psw-label1{
    grid-column:1 / 2;
    grid-row:3 / 4;
}

#signup-psw2{
    grid-column:2 / 3;
    grid-row:4 / 5;
}

#psw-label2{
    grid-column:1 / 2;
    grid-row:4 / 5;
}

#signup-button{
    grid-column:1 / 3;
    grid-row:5 / 6;
}

footer{
    height:5em;
    width:100%;
    background-color: #363635;
    margin-top:2em;
    display:flex;
    align-items: start;
    flex-direction: column;
}


#github-link{
    display:inline;
    color:#fefefe;
    text-decoration: none;
    font-size: 1.2em;
    margin: 0em 1em;
}

footer span{
    
    color:#81E979;
    font-size:1.2em;
    margin-left:1em;
    margin-top:0.5em;
}

.link-holder{
    margin: 5px;
    color:#fefefe;
}

.link-holder a{
    text-decoration: none;
    color: #fefefe;
}