<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CrosswordGenerator</title>
</head>
<body>
<h1>CrosswordGenerator</h1>
<h4>Регистрация</h4>
<form action="/registration" method="post">
    Email: <input type="email" name="email"><br><br>
    Username: <input type="text" name="username"><br><br>
    Password: <input type="password" name="password"><br><br>
<!--    RetypePassword-->
    <input type="hidden" name="_csrf" value="${_csrf.token}">
    <input type="submit" value="Enter">
</form>

<a href="/login">Войти</a>
</body>
</html>
