<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о пользователе</title>
</head>

<body>
<main>
    <header th:include="header :: header"></header>
    <h4>Кроссворды пользователя <span th:text="${user.username}"></span></h4>
    <table>
        <tr th:if="${crosswords.isEmpty()}">
            <td colspan="2"> No crosswords </td>
        </tr>
        <tr th:if="${!crosswords.isEmpty()}" th:each="crossword : ${crosswords}">
            <td><span th:text="${crossword.title}"></span></td>
            <td><span th:text="${crossword.creationDate}"></span></td>
    </table>
    <footer th:include="footer :: footer"></footer>
</main>
<script th:src="@{/javascript/indexscript.js}"></script>
</body>
</html>